# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.whl
*.egg-info/
.venv/
.env

# Pytest / Playwright artefacts
.pytest_cache/
allure-results/
allure-report/
playwright-report/
test-results/

# Editors and system files
.vscode/
.idea/
.DS_Store
*.log
